digest of stale resources

If we are to support sending cache digest of stale resources (https://github.com/mnot/I-D/issues/177#issue-152938916), we:
* MUST define how to hash a stale resource
* SHOULD define how to push a cache validator using H2


For the first topic, I believe:

* if a stale response has a etag, then the hash value should be calculated as `H(URL + entity-tag)`
* if a stale response does not have a etag but has a last-modified header, then the hash value should be calculated as `H(URL + last-modified-value)`

A server should test the digest using the URL and the validators of a preload URL, and if a match has been found, push a cache validator.  Or else, should push the resource of the preload URL.  This way, the preload resource will be delivered zero-RTT regardless of whether if it was stale-cached or not.


The second topic is problematic.

I have previously argued for using `HEAD` for pushing cache validators (https://github.com/mnot/I-D/issues/177#issuecomment-220017094), but now I think the best way is to introduce a new 3xx status code.  The details follow.

Consider an edge server terminating H2 that loads resource from other servers.  The server recognizes `link: rel=preload` header and uses the cache digest to find out whether or not the specified resource should be pushed.

At the time the edge server receives the preload headers of the main request from an upstream server, it cannot _instantaneously_ determine if the specified resource is marked in the stale digest, since the server cannot find out the cache validator without contacting an upstream server that serves the specified resource.

That means that in either of the proposed ways of sending cache validators (push HEAD or push conditional GET), the edge server needs to delay sending the HEADERS frame of the main response, considering the requirement that _the server SHOULD send PUSH_PROMISE frames prior to sending any frames that reference the promised responses_ ([RFC 7540 section 8.2.1](http://httpwg.org/specs/rfc7540.html#rfc.section.8.2.1)).

Of course we would never want to delay sending things to client.  And that means that we must send a PUSH_PROMISE frame that does not depend on the cache validator, and then send just the cache validator or send the updated response.

Ideally, a server should:

* send PUSH_PROMISE frames containing unconditional GETs for all preload links expect those cached as fresh
* for the resources that are later found to be stale-cached by the client, only send the cache-validators
* for the resources that are later found to be _not_ stale-cached by the client, send the full response

This is why I propose introducing a new 3xx status code, possibly named as: Validator-Only.  The status code would be used against a unconditional GET request, but only includes cache validator(s), and does not have a message body.

@mnot WDYT?

This mechanism (3xx Validator Only) is an optimisation for the case where the client has a stale cached copy, but the edge doesn't have a copy, correct? 

I think there are two cases that are good to talk about here:

1. If latency between the client and the edge is significantly higher than from the edge to the origin (e.g., the edge is a reverse proxy right in front of it), the edge can delay the PUSH_PROMISE until it has a response from the origin, without any impact upon latency; at worst, it might receive a GET from the client after it sends its PUSH_PROMISE, and need to RST_STREAM one of them.

2. If latency between the client and the edge is lower than that from the edge to the origin (i.e., a highly distributed CDN), the edge can wait for the client's GET, rather than using server push; as long as it used the preload hint to initiate a fetch, the maximum latency gain should be seen.

Also, I *think* most deployments in this pattern are going to be caching on the edge, so this (having a client with something stale in cache, but not fresh on the edge) is likely to be a pretty rare condition (and also one that the edge can use other means of avoiding, e.g., stale-while-revalidate). It *may* not be worth optimising for.

All of that said -- if we do want to provide for this case, I don't see any reason why 304 can't be reused; its semantics are a match, it's just a bit odd to send it when the request wasn't conditional. What made you avoid using it?

And, am I missing something?

@mnot Thank you for the response.

> This mechanism (3xx Validator Only) is an optimisation for the case where the client has a stale cached copy, but the edge doesn't have a copy, correct? 

Yes.

> 1 . If latency between the client and the edge is significantly higher than from the edge to the origin (e.g., the edge is a reverse proxy right in front of it), the edge can delay the PUSH_PROMISE until it has a response from the origin, without any impact upon latency; at worst, it might receive a GET from the client after it sends its PUSH_PROMISE, and need to RST_STREAM one of them.

The edge server should not reset one of the two, since the client might reset the other (trying to read from the stream that the edge server resets).

So if the edge server sends a PUSH_PROMISE of a link-preloaded resource after the HEADERS frame that contains the link-preload tag, then there is a chance that the client issues a pull for the same resource, and in such case, the bandwidth needs to be wasted for sending the same resource twice, or the edge server needs to wait for 1 RTT to see if the client resets one of the two.

In other words, sending the HEADERS frame needs be postponed until the cache validator is obtained by the edge server if the value of the PUSH_PROMISE frame needs to depend on the value of the validator.

I agree that the delay is not likely to be as large as the latency between the client and the edge server. But even if the resource exists in a POP of a CDN, there is no guarantee that the resource exists on the same host that receives the HTTP/2 connection. So the necessity of a delay might not be very unlikely.

> 2 . If latency between the client and the edge is lower than that from the edge to the origin (i.e., a highly distributed CDN), the edge can wait for the client's GET, rather than using server push; as long as it used the preload hint to initiate a fetch, the maximum latency gain should be seen.

Agreed. Though it would be simpler if the edge server could use server push in this case as well.

> All of that said -- if we do want to provide for this case, I don't see any reason why 304 can't be reused; its semantics are a match, it's just a bit odd to send it when the request wasn't conditional. What made you avoid using it?

There are (at least) two differences in the semantics from 304: 1) 3xx validator-only is a response against an non-conditional response, 2) the client needs to issue a new request if it receives 3xx validator-only but the validator found in the response headers did not match the one found in the cache.

The second point (by itself) might not justify the introduction of a new status code; such behavior could be argued as something necessary for H2 push in general.  But the first point clearly contradicts with the definition of 304 in RFC - that is why I thought we need to define a new status code.

But with that said, I have no objections on reusing 304 with the modified semantics in this case.

See changes above.

I haven't included Last-Modified; do you think we need it, or can we just do ETag?

I also haven't included server-side behaviour specification, as I'm starting to think we need a separate "how to do server push" spec altogether.

Unrelated but as I was doing this, I noticed:

> 1. Let N be the count of `URLs`' members, rounded up to power of 2.  If N is greater than 2\*\*32, then let N be 2\*\*31.

I think one of those numbers needs to change to the other, correct? 2**31?

>> #. Let N be the count of URLs' members, rounded up to power of 2. If N is greater than 2\*\*32, then let N be 2\*\*31.
> 
> I think one of those numbers needs to change to the other, correct? 2**31?

Thank you for noticing the issue.

I believe it should be changed to: Round down N to power of 2, smaller than 2**32.

By changing as such, it would match the definition of P.  It also makes the definition clear since `log2(N)` always becomes an integer.