end-user values

Thanks for the new version of the draft. Upon re-reading it I thought of a threat vector that this draft possible brings in which might actually impact its usefulness. If we prioritize the need of the end-user, we're prioritizing end-user values. 

The problem with end-user values is that everyone can claim anything is an end-user value. The end-user is not a standard with explicit guidelines or standards. It might even lead to a deterioration of consensus as documented in [RFC7754] [RFC7258] [RFC7624] [RFC7288] or [RFC6973] because people might argue that these go against end-user values such as 'harmony', 'public safety' and 'public decency'.

So where I see the use of this for instance in the TLS1.3 discussion, I also see how it could potentially be used on the other side of the discussion. 


My on-list reply:

I don't think there's any magic bullet that guarantees that the right thing will always happen -- we rely upon the community to bring up and represent users' needs. What this draft tries to do is give user-focused participants, chairs, ADs and other leadership a tool to use to help, along with a stated goal.

I was just looking at BCP95 in this light; I've always found that an excellent RFC, but the stated goal of the IETF -- "The goal of the IETF is to make the Internet work better" -- is so frustrating because it begs the question "for whom?"

This draft tries to give some guidance along those lines; it's a very small step, but one worth taking, I think. 