XML Namespace URI

the current "JSON Problem" draft uses a URN as XML namespace URI, based on what http://tools.ietf.org/html/rfc2648 suggests. now that http://tools.ietf.org/html/rfc7669 has been published, would it be better to use a DOI (in its URI form) instead? sadly, RFC 7669 does not say anything about RFC 2648, but maybe the newer convention should be preferred? afaict, it does not make a big difference because all this has to be is a well-known identifier, but if there's a preference for the newer convention, maybe make that change before the document gets finalized.

A HTTP URL as namespace URI would be highly appreciated! :smile: 

Seems like way too late to do this, given that other folks are depending on this doc.

@mnot, Is it illegal for an RFC to use a different naming scheme than those defined in RFC 2648 and 7669? Even though RFC 4287 came after 2648, it uses a resolvable HTTP URL (hosted by W3C), and not `urn:ietf:rfc:4287`.

I understand that it's too late to do anything about RFC 7669, but since JSON Problem is not a published RFC yet, it's not too late to change its namespace URI, is it? If it can be changed, is it possible to change it to something not described by RFC 2648 or 7669?

*sigh* If this had come up a few months ago, sure, but there's already WG consensus and it's going to the IESG. You can bring this up in IETF Last Call, but I'd argue that the slight benefits of a HTTP URL are easily outweighed by breaking the people already using it.

+1, i just wanted to bring up the point that the RFC 2648 naming scheme seems to be replaced by RFC 7669, but since it's not quite clear how, and since the namespace URI has been around for quite a while, it may be best to just keep it. closing the issue.

@mnot, @dret: Okay. Can anything be done about this for future RFC's, then? Or will RFC 7669 mandate that any namespace URI being minted for any RFC "forever" *must not* be a resolvable URL? I find it peculiar that IETF has moved in this direction and in 2015 specifies a new namespace scheme that is still not based on resolvable HTTP URLs. It creates a lot of dead-ends that are incompatible with linked data, which end up causing a lot of duplicated effort. Can anything be done to remedy this?