Stable URIs for registered relation types

From #39. We need a convention for registered relation types to be assigned URIs, so that applications (such as RDF) can refer to them.

From previous discussion: 

I think the resolution is a modification of what I suggested way above (incorporating feedback from @dret). In "Registered Relation Types", add:

> Applications that wish to refer to registered relation types with a URI [RFC3986] MAY do so by prepending them with "http://www.iana.org/assignments/relation/". Note that the resulting strings are not considered equivalent to the registered relation types by many processors, and SHOULD NOT be serialised unless the application using link relations specifically allows them.

(with possible adjustments to the prefix depending on decisions below)

i would consider even stronger wording, such as "the resulting URIs MAY NOT be used outside of well-defined environments, and any serialization depending on registered IANA link relations MUST use the registered strings as link relation type identifiers." maybe that's too strict, but i think there's quite a risk here that the URIs will creep out of the places where they need to be used (such as RDF models that would like to use them as predicates) into the rest of the world where they really really shouldn't be used. establishing a URI convention substantially increases that risk, so trying to contain it with strong language may be in order.

Reopening to discuss that, and to remember we need to finalise the URL (considering things like / vs # ), and perhaps instruct IANA about what to do. 

@dret your concern is that services start using the URI and break applications which rely on the simple rel string, right? 
Your proposal seems to say: "if you depend on a registered rel, you have to use the simple string. But in a well defined environment you may use the URI instead". The alternative is not quite balanced, it is not about depending on a registered rel vs. well defined environment.
To me it appears that the alternative is: implementation that has an implicit notion of unique IANA rels vs. implementation that has no implicit notion of IANA rels and thus requires them to be unique identifiers (e.g. RDF).
How about using that alternative as the discriminator, and mention RDF to make it more clear which kind of scenario we are talking about?

"Serialisations such as RDF that have no implicit notion of unique IANA link relations MAY refer to them with a URI [RFC3986] by prepending them with "http://www.iana.org/assignments/relation/". Note that the resulting strings are not considered equivalent to the registered relation types by many processors, and therefore MUST NOT be used for serialisations which have an implicit notion of registered IANA relation types."

> "Serialisations such as RDF that have no implicit notion of unique IANA
> link relations MAY refer to them with a URI [RFC3986] by prepending them
> with "http://www.iana.org/assignments/relation/". Note that the
> resulting strings are not considered equivalent to the registered
> relation types by many processors, and therefore MUST NOT be used for
> serialisations which have an implicit notion of registered IANA relation
> types."

maybe i am not quite understanding your usage of the term "implicit" 
here. to me, the fundamental problem we're discussing is RDF's lack of 
structural (i.e., coherent) context. in HTML/XML (and JSON), it is 
trivial to say something like this:

<link href="...." rel="relation"/>

the @rel attribute is only meaningful in the context of the link 
element, and the model provides that kind of context. that kind of 
context is lacking in RDF, which is why strings (that need context to be 
meaningful) don't work. that's how i see the underlying problem of RDF's 
inability to use non-URI identifiers.

are we in agreement? if yes, then maybe it would be better to talk about 
"context-dependent identifiers" or something along these lines? i am 
mostly struggling with your term "implicit notion", which i don't quite 
know how to interpret.


By implicit notion I mean: when an application interprets an HTTP link header or an HTML link element, it can assume that a non-URI @rel value must be a IANA registered rel. Why can it assume that? That fact is not explicit in the link representation, but the application must bring along knowledge about the general implications of an HTTP link header. By being an HTTP link header, the rel attribute implies that its value is either an IANA registered rel or a custom rel. If I may rephrase what you said, the context of an HTTP link makes it clear that the rel is a registered rel. 

One more try: 
"Serialisations such as RDF that have no contextual notion of unique IANA link relations MAY refer to them with a URI [RFC3986] by prepending them with "http://www.iana.org/assignments/relation/". Note that the resulting strings are not considered equivalent to the registered relation types by many processors, and therefore MUST NOT be used in contexts where simple strings are known to be registered IANA relation types."


Or maybe more straightforward: 

"Applications which have no concept of context-dependent identifiers to support plain strings as IANA registered link relation types MAY refer to them with a URI [RFC3986] by prepending them with "http://www.iana.org/assignments/relation/". Note that the resulting strings are not considered equivalent to the registered relation types by many processors, and therefore MUST NOT be used in contexts where simple strings are known to be registered IANA relation types."

> in HTML/XML (and JSON), it is
trivial to say something like this:
``` html
<link href="...." rel="relation"/>
```

As I understand it:
* in HTML5 the spec itself **implies** that non URI string values should match those explicitly listed in a spec or registered in blessed registry [1]
* in HTTP Headers, same implication comes from RFC5988 [2]
* AFAIK in JSON each system needs to define their usage of link relations independently since no normative reference exist for that

@dret , do you know of any other specs which in normative way specifies that any string used in a particular context, references a link relation from IANA registry?

Maybe simply stating something in lines:

"In HTTP headers[2], HTML links[1] or other environments which define in normative way usage of link relations from IANA registry,  applications MUST use link relations short sting form. In environments which does not allow use of short string form and enforce use of URIs for identifiers, for example all RDF serializations[3], applications SHOULD reference link relations by prefixing their short string form with "http://www.iana.org/assignments/relation/'". 

It definitely needs better wording, but as much as possible I see it helpful to keep it simple and to the point, without introducing any conceptually heave ideas.

[1] http://www.w3.org/TR/html5/links.html
[2] https://tools.ietf.org/html/rfc5988#section-6.2
[3] http://www.w3.org/TR/rdf11-new/#section-serializations

> As I understand it:
>   * in HTML5 the spec itself *implies* that non URI string values should
>     match those explicitly listed in a spec or registered in blessed
>     registry [1]
>   * in HTTP Headers, same implication comes from RFC5988 [2]
>   * AFAIK in JSON each system needs to define their usage of link
>     relations independently since no normative reference exist for that

the difference here is that HTML(5) and HTTP are talking about links 
explicitly, whereas JSON is just some data metamodel. in JSON models 
talking about links, you often find the very same link relation 
semantics encoded (in various variations) as in HTML/HTTP. here is a 
very nice overview:

http://dracoblue.net/dev/overview-of-json-hypermedia-link-formats/

> @dret <https://github.com/dret> , do you know of any other specs which
> in normative way specifies that any string used in a particular context,
> references a link relation from IANA registry?

there are many (start with above link) and it would be futile and a 
mistake to try to list them explicitly/exhaustively. RFC 5988 defines 
how link relations types work (strings for registered values, URIs for 
extensions), and that's all that needs to be said. anybody using web 
linking should be using that model, ot they are on their own.

> Maybe simply stating something in lines:
> "In HTTP headers[2], HTML links[1] or other environments which define in
> normative way usage of link relations from IANA registry, applications
> MUST use link relations short sting form. In environments which does not
> allow use of short string form and enforce use of URIs for identifiers,
> for example all RDF serializations[3], applications SHOULD reference
> link relations by prefixing their short string form with
> "http://www.iana.org/assignments/relation/'".

not quite, i think. there is no "short string form". the short string 
*is the only allowed value* if you want to properly reference a 
registered type. anything else should not be considered a proper 
reference to the registered type, to avoid creeping out those "pseudo 
values" onto the web.


> not quite, i think. there is no "short string form". the short string
*is the only allowed value* if you want to properly reference a
registered type. anything else should not be considered a proper
reference to the registered type, to avoid creeping out those "pseudo
values" onto the web.

Above statements don't seem to take into account environments like RDF which require use of URIs, and to my understanding we try here provide a way to still have there a **proper reference to the registered type**. How about something like "... aplications MUST NOT add  'http://www.iana.org/assignments/relation/' prefix with exception where particular environment does not support use of references other than URIs (for example all RDF serializations)"

@dret I think we all better trust you and Mark with your spec editorial experience. I would just like to make two requests

1) keeping it as simple as possible and preferably not going into conceptually heavy statements which people may struggle to understand and see as vague
2) offering informative advice about possible consequences of misuse of introduced prefix, and avoiding statements which may seem dogmatic and make people, who have to use URI in media types they work with, feel like they do something wrong

> Reopening to discuss that, and to remember we need to finalise the URL (considering things like / vs # ), and perhaps instruct IANA about what to do.

This one I see very much related to #144 and very likely decisions there will influence the final recommended prefix. I guess we may end up with **"http://www.iana.org/assignments/relation/#"**

> @dret wrote:
>> not quite, i think. there is no "short string form". the short string is the only allowed value if you want to properly reference a registered type. anything else should not be considered a proper reference to the registered type, to avoid creeping out those "pseudo values" onto the web.

@elf-pavlik wrote:
> Above statements don't seem to take into account environments like RDF which require use of URIs, and to my understanding we try here provide a way to still have there a proper reference to the registered type.

It also seem to not take into account that [RFC 4287 has described this algorithm](https://tools.ietf.org/html/rfc4287#section-4.2.7.2) for almost 10 years now.

> This one I see very much related to #144 and very likely decisions there will influence the final recommended prefix. I guess we may end up with "http://www.iana.org/assignments/relation/#"

Yes, that would be good. But it would work so much better if the resulting page wasn't just an enormous HTML `<table>`, but instead divided into sections (`<h2 id="{relation}">`) that could be referenced individually.

@stain great to see your concrete proposal! I still think that W3C should take responsibility of all the RDF related aspects (possibly using your XSLT) and IANA page could simply link to it using appropriate link relations, as I propose in https://github.com/mnot/I-D/issues/144#issuecomment-149531806

+1 to http://www.iana.org/assignments/relation/#

Do you even need the final trailing "/"?  Doesnt make a huge difference in the grand scheme of things.

May I request that the final resource is CORS enabled?

i am starting to wonder if it wouldn't make sense to start a separate document listing a number of requirements for IANA registries (also including #144 and maybe even #40) and how they are exposed. while not all of IANA's registries will need something like this, for many it might be useful, and least some aspects of it, so separating this issue into a standalone document might be useful to make it reusable. but then again, @mnot would be the right person to say whether that's a realistic and reasonable goal to have, or whether this would be too much effort for something that might see less (or no) reuse regardless of the best intentions.

@dret - no, that's been tried and failed before, and I'd like to avoid doing so for now.

All - can we *please* keep issues discussion on-topic? I'm very happy to have the discussion, but not when it veers all over the place. Thanks.

@mnot ... +1 to this change. I don't believe @dret's additional constraints are necessary (not that there's anything particularly wrong with them). 

I'd also say :+1:, but with one exception: Drop the trailing `/`, so we end up with:

```
http://www.iana.org/assignments/relation#
```

It is more in line with how such fragment URIs tend to look, and there's nothing to gain by having the trailing slash, is there?

Given that relations are all defined in a single resource, I agree that `http://www.iana.org/assignments/relation#` makes the most sense. Using '/#' would just seem indecisive.

@asbjornu @gkellogg I agree that relation# makes more sense than relation/ but RFC4287 *did* specify the latter, and this issue is about stability :)

If there's really broad consensus to change it, I'm OK with that, but I wonder if we can determine that here.

Also, is it really that important that they resolve to something relevant/non-404, or is that just Nice to Have?

On 2015-10-29 07:40, Mark Nottingham wrote:
> Also, is it really that important that they resolve to something
> relevant/non-404, or is that just Nice to Have?

it's nice to have. the essential thing is that the registered values are 
identifiers, so the constructed URIs are a nicety. but it would be 
really convenient if somebody asked "what is this registered value all 
about?", if such a URI could be used to answer that question succinctly 
by pointing to the registry entry. and it really isn't a hard thing to 
make them work, so why not do it well?


If we were working from a clean slate, that would be easy. We're not.

@mnot Yes, [RFC 4287](https://tools.ietf.org/html/rfc4287) specify the use of `/` as the separator instead of `#`:
> Registry of Link Relations (Section 7), and thus to the IRI that would be obtained by appending the value of the rel attribute to the string "http://www.iana.org/assignments/relation/".  The value of "rel" describes the meaning of the link, but does not impose any behavioral requirements on Atom Processors.

A resulting string after processing would thus be `http://www.iana.org/assignments/relation/first`. In order to be backward compatible with that scheme, we can't introduce `#`. I wish we had the foresight to specify `#` back in the early 2000's when we were dabbling with this, but that's too late now.

What's nice, though, is that `http://www.iana.org/assignments/relation/first` redirects to `http://www.iana.org/assignments/link-relations/link-relations.xhtml`, which is a behavior I assume no one expects to a degree that they have baked it into their applications. It should therefore be possible to instead redirect to `http://www.iana.org/assignments/relation#first` (which imho should be the canonical URL for link relations; not `http://www.iana.org/assignments/link-relations/link-relations.xhtml`) without breaking anything.

@asbjornu sounds reasonable, although some people will undoubtedly copy the resulting `#` URL and use it to identify :(

The other thing we could do is auto-generate a file for each relation. I'm not thrilled with that, though.

@mnot Auto-generating files would then make `http://www.iana.org/assignments/relation/first` return `200 OK` instead of `302 Found`? If so, that's indeed a solution that would be both backwards and forwards compatible. Why aren't you thrilled with that solution?

Some thoughts

- http://www.iana.org/assignments/relation/# is absolutely fine.  That's how I do my identity ( http://melvincarvalho/#me ).  If it's already in an RFC probably makes some sense to stick to it.

- That the resource dereferences is less important than that a normative resource exists.  This is something that will be very useful in implementations today.  Currently my clients store HTTP headers and having a namespace for them will help to improve the data integrity.

- Redirects can be a pain to work with, especially with CORS.  From my experience, best avoided, and using plain old HTTP 200 is easy for software to deal with


@melvincarvalho:

* It's not `http://www.iana.org/assignments/relation/#` that is in an RFC, it's `http://www.iana.org/assignments/relation/` without the `#` that's in [RFC 4287](https://tools.ietf.org/html/rfc4287#section-7.1). So introducing `#` would be a breaking change regardless of the trailing slash.
* Being able to dereference the URI is important from an extensibility and usability point of view. It's much easier to figure out what something is by being able to plock the URL into your browser. From there, it's much easier to add metadata to the HTML (or whatever) document being returned, in the form of HTTP headers (such as the `Link` header), RDFa, and whatnot.
* Good point wrt. CORS. @mnot's idea of minting new resources on each full ("prefixed") relation URI would solve that quite elegantly. Although it isn't a thrilling idea, according to him.

@asbjornu: It complicates the interaction with IANA considerably, and we can't reasonably expect them to do it on their own.

Maybe HTTP 303 as FOAF does it?

```shell
$ curl -I http://xmlns.com/foaf/0.1/knows
HTTP/1.1 303 See Other
Date: Fri, 30 Oct 2015 13:05:32 GMT
Server: Apache/2.4.7 (Ubuntu)
Access-Control-Allow-Origin: *
Location: http://xmlns.com/foaf/spec/
Content-Type: text/html; charset=iso-8859-1
```

> although some people will undoubtedly copy the resulting # URL and use it to identify :(

I think that people who don't pay attention to use of appropriate URL will use technologies which allow simple use of registered strings.

Also http://www.iana.org/assignments/relation/first could do HTTP 303 redirect to #144 and machines would find all the information there without need for # fragments, while people could just search the page for relation they looked for (not perfect but still better than 404)


I want to support Elf's point. In the RDF world it is apparently quite customary to have redirects for canonical URIs, for instance

`http://purl.org/dc/terms/accessRights`
redirects to 
`http://dublincore.org/documents/2012/06/14/dcmi-terms/?v=terms#abstract`

and nobody seems to have any problem with that in RDF land. It certainly helps that the redirection points to a URI that really does not look very canonical :-)

Maybe we can replicate that by redirecting from 
http://www.iana.org/assignments/relation/next

to some fancy fragment identifier such as 
http://www.iana.org/assignments/link-relations/link-relations.xhtml#transient-next-non-canonical

I'd really avoid this FOAF and DCT (anti?) pattern.  It's a pain to deal with redirects.  And I believe, to this day both those vocabs have problems with CORS.  We've been trying for years to fix that, and it's technically a challenge, even for experienced coders such as @danbri.  There's no reason to split up a document into mini files in that way, and is a maintenance burden.  I spent a long time trying to work out the motivation for this kind of pattern, and it boils down to "it looks nice".  If the list was several MB large, I could understand it.  

FOAF is not broken into "files". Screwing around with Apache configurations is a giant PITA.

The reason we went with / rather than # was that at the time (15 years ago) it was far from clear that using #blah on a content negotiable URI was sensible. Plus it didn't work for bigger things like Wordnet without forcing you to make a single giant download.

@melvincarvalho:

Am 30.10.2015 16:13 schrieb Melvin Carvalho <notifications@github.com>:
>
> I'd really avoid this FOAF and DCT (anti?) pattern. It's a pain to deal with redirects. And I believe, to this day both those vocabs have problems with CORS. We've been trying for years to fix that, and it's technically a challenge, even for experienced coders such as @danbri. There's no reason to split up a document into mini files in that way, and is a maintenance burden. I spent a long time trying to work out the motivation for this kind of pattern, and it boils down to "it looks nice". If the list was several MB large, I could understand it.

Maybe I misunderstand you completely, but what do you propose, then? Having a clean URL prefix http://www.iana.org/assignments/relation#  that both is a breaking change wrt to Atom and doesn't dereference? If it doesn't dereference, why is CORS an issue at all? 

Am 30.10.2015 16:13 schrieb Melvin Carvalho <notifications@github.com>:

I'd really avoid this FOAF and DCT (anti?) pattern. It's a pain to deal with redirects. And I believe, to this day both those vocabs have problems with CORS. We've been trying for years to fix that, and it's technically a challenge, even for experienced coders such as @danbri. There's no reason to split up a document into mini files in that way, and is a maintenance burden. I spent a long time trying to work out the motivation for this kind of pattern, and it boils down to "it looks nice". If the list was several MB large, I could understand it. 

—
Reply to this email directly or view it on GitHub. 



> If we were working from a clean slate, that would be easy. We're not.

from http://tools.ietf.org/search/rfc4287#section-4.2.7.2
> If a name is given, implementations MUST consider the link
   relation type equivalent to the same name registered within the IANA
   Registry of Link Relations (Section 7), and thus to the IRI that
   would be obtained by appending the value of the rel attribute to the
   string "http://www.iana.org/assignments/relation/"

IMO HTTP 303 redirects for all URIs starting with mentioned prefix already defined by rfc4287 should work just fine. Implementations which chose to dereference those URIs, should cache response received after following redirect and cache it, this way not needing to try fetch description of each relation one by one. I guess details of what such response should contain fits more #144 

@gkellogg from where did you pick mentioned in https://github.com/ruby-rdf/rdf-vocab/issues/31 `http://www.iana.org/assignments/link-relations/` does any spec recommends it?

It looks like http://www.iana.org/assignments/link-relations/ was used in error when the vocabulary was moved. The issue is created for people who this may affect have a chance to speak up. However, as it's used as a convenience, it would only be likely to be a problem when interacting with systems that used the previous value stored in a triple store.

Would IANA be willing to reorganize today's redirects and return 200 OK for `http://www.iana.org/assignments/relation`?

We have:
1. `http://www.iana.org/assignments/relation/*` redirects to `http://www.iana.org/assignments/link-relations`
2. `http://www.iana.org/assignments/link-relations/*` redirects to `http://www.iana.org/assignments/link-relations/link-relations.xhtml`
3. `http://www.iana.org/assignments/link-relations/link-relations.xhtml` finally answers 200 OK

Can that be changed so that:
1. `http://www.iana.org/assignments/relation` returns 200 OK with a representation that describes the rels and ideally has fragment identifier targets for the rels?
2. `http://www.iana.org/assignments/link-relations` redirects to 1
3. `http://www.iana.org/assignments/link-relations/*` redirects to 1 (includes link-relations.xhtml)
4. `http://www.iana.org/assignments/relation/<whatever>` redirects to `http://www.iana.org/assignments/relation#<whatever>` instead of today's redirect to link-relations.xhtml (as proposed by @asbjornu, who argued that this change of redirection is not likely to break anything. I also doubt that Atom clients or services use the fully qualified URL as rel because that would be a misunderstanding of the Atom RFC)

Only if IANA is willing to return 200 OK for `http://www.iana.org/assignments/relation` it makes sense to go forward with `http://www.iana.org/assignments/relation#` as canonical URL prefix without redirects that seem to cause CORS problems.

If IANA is not willing to make that change, then RFC5988bis could just make `http://www.iana.org/assignments/relation/` the canonical URL prefix and we are done. All necessary redirects are in place already and we are in line with Atom.

@asbjornu Do I read you correctly that although you said
> In order to be backward compatible with that scheme, we can't introduce #.

your final conclusion was that you still want "relation#" to be the new canonical URL prefix?
In that case I think @mnot's concern that people would wrongly copy the resulting # URL was a misunderstanding, because people would be right doing so.

@dschulten I'm not making a proposal.  I'm merely pointing out that this would be a valuable thing to standardize.  Obviously if an HTTP URI is dereferenable that's much better than if it doesnt.  I'm also pointing out from implementation experience 303s are a huge challenge to deal with both from the client and server perspective, especially if you want it to be CORS enabled.  

How about returning 200 for http://www.iana.org/assignments/relation/<whatever> with the content of http://www.iana.org/assignments/relation/ containing the RDFS definitions, and also the Location header of http://www.iana.org/assignments/relation/. That seems to be an accepted pattern now and avoids redirection.

To my understanding URIs for each relation e.g. http://www.iana.org/assignments/relation/alternate would sill need to redirect to that page which describes all of them. Assuming that prefix recommended by rfc4287 will not change to one with #

@elf-pavlik it already redirects, and even twice via /link-relations ☺

So if we already have the redirections in place, and the RFC already says they end with `/` which is trickier to change now, then something like my XSLT to include such RDFa statement should be the main thing that is needed.

You are not required to follow the HTTP links (unless you want to) as:

1) The RFC can define the namespace
2) The RDF version of the registry page will include all the statements.

In the spec you can simply say something like: 

> Applications which require an absolute URI, e.g. producing Linked Data in RDF, MUST use the http://www.iana.org/assignments/relation/ namespace for IANA registered types, and only for IANA registered types. For instance, the registered type `alternate` is represented as the absolute URI http://www.iana.org/assignments/relation/alternate."

@stain Isn't it a problem that `http://www.iana.org/assignments/relation/alternate` redirects to ?`http://www.iana.org/assignments/link-relations/link-relations.xhtml` without a fragment identifier? Or will sprinkling RDFa on that HTML page suffice?

I think we need to define (in RFC 2119 parlance) separate requirements for three different types of applications. Let's name them *RDF Applications*, *Legacy Applications* and *Other Applications*, for simplicity. I think each application need separate requirements. Here are some pretty random requirements that probably don't go far enough in some areas and probably go way too far in others:

## RDF Applications
**RDF Applications** are applications producing Linked Data in RDF that require the relation types to be (expanded to) full URIs, such as RDF/XML, RDFa and JSON-LD.
  1. RDF Applications **MUST** use the `http://www.iana.org/assignments/relation/` namespace for IANA registered relations. For instance, the registered type `alternate` is represented as the absolute URI `http://www.iana.org/assignments/relation/alternate`.
  2. RDF Applications **MUST NOT** use the `http://www.iana.org/assignments/relation/` namespace for relations not registered in IANA. They **SHOULD** instead find relation types registered elsewhere, such as RDFS, Dublin Core, schema.org, etc. For instance, the RDFS `rest` relation should be represented as the absolute URI `http://www.w3.org/2000/01/rdf-schema#rest`.

## Legacy Applications
**Legacy Applications** are applications producing formats that have existing and defined semantics for implicitly namespaced (or prefixed) relation type strings, such as HTML, Atom and the HTTP `Link` header.
  1. Legacy Applications **MUST NOT** use `http://www.iana.org/assignments/relation/` namespace for IANA registered relations. For instance, the registered type `alternate` should be represented as the opaque string `alternate` and not as the absolute URI `http://www.iana.org/assignments/relation/alternate`.
  2. Legacy Applications **SHOULD** use a full URI and not opaque strings for relations that are not registered in IANA. For instance, the RDFS `rest` relation should be represented as the absolute URI `http://www.w3.org/2000/01/rdf-schema#rest`.

## Other Applications
**Other Applications** are applications that don't produce RDF, but at the same time don't have defined semantics for implicitly namesapced (or prefixed) relation type strings.
  1. Other Applications **SHOULD** use the `http://www.iana.org/assignments/relation/` namespace for IANA registered relations. For instance, the registered type `alternate` is represented as the absolute URI `http://www.iana.org/assignments/relation/alternate`.
  2. Other Applications **SHOULD** use a full URI and not opaque strings for relations that are not registered in IANA. For instance, the RDFS `rest` relation should be represented as the absolute URI `http://www.w3.org/2000/01/rdf-schema#rest`.

## Structure
The above can (and probably should) be restructured so each requirement is stated and identified and then referenced from sections describing the requirements for each application type. This allows the requirements to be easily conveyed in a matrix, for instance.

it's a bit ironic that in the text above all applications (except one) are described as "legacy applications", whereas the only one that happens to have home-made problems with non-URI identifiers is becoming the one true way forward.
what i think would be a bad idea is to create the impression that URIs are valid identifiers. the registry contains strings, and these are valid identifiers. creating legitimate aliases for pretty much anything is a sure-fire way into non-interop, so please let's not do that.
and looking ahead, i am wondering what's next. force media types to also be URIs? which other registries come next? IANA currently manages 1885 registries, and the vast majority of these have non-URI entries. all the "legacy applications" using those registries have been doing fine until now, and it's hard to see the problem, except for one specific technology not having a way to deal with non-URI identifiers.

This use of "Legacy" looks disrespectful of mainstream approaches (who have respectable reasons for their choices); I strongly recommend against that terminology.

@danbri The use of the word **Legacy** was not intended to be disrespectful. The above text is also in no way intended to be used in an application. "Legacy" was just a label I had to invent in order to try to organize my thoughts on how we can classify the different applications of link relations.

Is **Traditional** a better word? I'm open to ideas and am in no way attached to the names I've picked. I do think I've managed to separate the three different types of applications successfully, though. If you disagree, please let me know.

> it's a bit ironic that in the text above all applications (except one) are described as "legacy applications"

@dret Wrt "legacy", please see above. 

> whereas the only one that happens to have home-made problems with non-URI identifiers is becoming the one true way forward.

Incorrect. Atom had the same problem more than 10 years ago. What other algorithm or process would you devise to make identifiers extensible?

> what i think would be a bad idea is to create the impression that URIs are valid identifiers. the registry contains strings, and these are valid identifiers. creating legitimate aliases for pretty much anything is a sure-fire way into non-interop, so please let's not do that.

That's a valid point and one I agree we need to address thoroughly.

> and looking ahead, i am wondering what's next. force media types to also be URIs?

Media types are already sufficiently extensible through the `vnd.` prefix.

> which other registries come next? IANA currently manages 1885 registries, and the vast majority of these have non-URI entries.

I have no idea, to be honest, but I think a majority of those 1885 registries should and will remain untouched by anything we choose to do with the link relation registry.

But if I were to boil it down to what the core of the problem is, I think it is **extensibility**. If a registry defines a way to extend its identifiers with minimum bureaucracy, it should interoperate just fine. If the extension process involves using URI prefixes; even better. If a registry is impossible to extend without publishing an RFC, it's a dead end for most uses of its identifiers.

> all the "legacy applications" using those registries have been doing fine until now, and it's hard to see the problem, except for one specific technology not having a way to deal with non-URI identifiers.

I disagree. Not having a distributed way to extend identifiers places a huge potential burden on anyone who wants to use the registered identifiers. Because at one point, the registered identifiers won't solve all the problems at hand, won't fit the application semantics or won't contain the identifiers the application requires. That's a fact of life regardless of the class of application and which technology it uses.

Maybe 'classic' or 'mainstream'? Perhaps I'm over-sensitive on this point but having seen 15 years of semweb advocacy try to describe all prior efforts as 'legacy', and having seen the reactions (offense, laughter, ...) I do suggest anything but 'legacy' would be an improvement. Traditional implies they are old-fashioned; 'classic' does too but seems slightly softer. Mainstream is vague but straightforward. 

@danbri I like "Classic". I've updated my proposal. I don't want to be mistaken for a semweb advocate, though, since I've just started trying to understand what it is through my involvement in [Hydra](http://www.hydra-cg.com/), which is based on [JSON-LD](http://json-ld.org/), which (quite invisibly, imho) is powerd by RDF. :wink: 

On 2015-11-06 14:10, Asbjørn Ulsberg wrote:
> But if I were to boil it down to what the core of the problem is, I
> think it is *extensibility*. If a registry defines a way to extend its
> identifiers with minimum bureaucracy, it should interoperate just fine.
> If the extension process involves using URI prefixes; even better. If a
> registry is impossible to extend without publishing an RFC, it's a dead
> end for most uses of its identifiers.

you don't need an RFC. registration is via the mailing list, and all you 
need is some document saying what your link relation represents (and i 
think that's a fair ask), and then you can send a request to the list. 
many/most choose to write short RFCs, but that's probably just because 
they are a nice way to get some feedback and consensus.

> I disagree. Not having a distributed way to extend identifiers places a
> huge potential burden on anyone who wants to use the registered
> identifiers. Because at one point, the registered identifiers won't
> solve all the problems at hand, won't fit the application semantics or
> won't contain the identifiers the application requires. That's a fact of
> life regardless of the class of application and which technology it uses.

have a close look at how link relations work today:

- if you want to use a registered value, then use an existing one, or 
submit a new one and get it registered. using such a string then means 
that it's supposed to be registered.

- if you don't feel like using registered values, you can always use 
URIs, and then it's implicit that the link relation is not a registered 
one, but one that somebody made up. if you want, you can use HTTP URIs 
and put some documentation there (and that's how we did it in my 
previous company), but that's just you being nice to devs.


> you don't need an RFC. registration is via the mailing list, and all you need is some document saying what your link relation represents (and i think that's a fair ask), and then you can send a request to the list. many/most choose to write short RFCs, but that's probably just because they are a nice way to get some feedback and consensus.

Say you want to publish a simple JSON API for your local library. You do it mostly free of charge and good will. Given this or similar situations, I'd say that just being able to figure the registration procedure out is a major task, let alone complete it. Although joining a mailing list and sending an e-mail is simple enough, it's the whole process, starting from pretty user unfriendly plain text RFC's, that's just not optimized for dialogue and participation.

I know this is a bigger problem to fix than what can be achieved in one registry and the RFC describing how it works, but until that bigger problem is fixed, the process of registering link relations needs to be distributed. And extensibility through the use of URIs works pretty well, I think.

> if you want to use a registered value, then use an existing one, or submit a new one and get it registered. using such a string then means that it's supposed to be registered.

I agree that all strings should be registered. But with the current process, I think that's too much to expect.

> if you don't feel like using registered values, you can always use URIs, and then it's implicit that the link relation is not a registered one, but one that somebody made up.

Yes, this is what RFC 4287 and 5988 already specifies. And that makes unregistered link relations work better with RDF than registered, which is the problem we're trying to solve here.

Is it accepted that rel="type" becomes "http://www.iana.org/assignments/relation/type" and not "rdf:type"? Or would the relation between those two be expressed separately, e.g. with rdfs:subPropertyOf? I guess there are other such examples as well.

@neothemachine I really think that W3C should deal with such questions and IANA only take the responsibility for providing official URIs for all registered link relations. I really worry that by trying to address to much in this issue we may only delay its resolution within the original scope.

@mnot can we already consider **http://www.iana.org/assignments/relation/** as official (to be) prefix?
BTW http://prefix.cc/ianarel

Id much rather see:  http://www.iana.org/assignments/relation#

May involve tweaking a couple of specs.

Experience from hosting vocabularies such as foaf is that using slash uris are much harder to get working with things like cors,https,redirects than a single resource using hash uris.



@elf-pavlik please dont squat name spaces before consensus is arrived at (ie the issue is closed)

`http://www.iana.org/assignments/relation/` was defined by Atom, which was the precursor to RFC5988, so it's the established base URI. In that sense, it's as official as we've got.

Using anything else is going to be difficult, not just a "tweaking a couple of specs." It would be _possible_ to say that that prefix is just for the Atom serialisation, but doing so seems very likely to leave the world a significantly worse (and more confusing) place, as there will be different prefixes used in different contexts, and the need to translate prefixes when moving links around. Yuck.



i'd argue that what @mnot says about making the world a worse plays also applies to re-introducing the deprecated `http://www.iana.org/assignments/relation/` prefix. it would effectively introduce non-unique identifiers (assuming the raw strings remain valid). every implementation would have to be coded to treat the prefixed and the raw form as identical, and that's very unlikely to happen in a reliable manner. this was exactly the reason why the prefix was dropped, because implementation experience showed that developers conveniently only supported the identifer "variant" they cared about (i.e., they produced), leading to non-interoperable implementations.
btw, over at https://github.com/dret/I-D/blob/master/registries/draft-wilde-registries-02.txt#L652 i am trying to write about this problem more generally. web linking is an interesting case study (i think), and whatever is going to happen in RFC5988bis, i am curious to see what it is and how it will play out.

> implementation experience showed that developers conveniently only supported the identifer "variant" they cared about (i.e., they produced), leading to non-interoperable implementations.

if someone doesn't care about interoperability i think we all need to simply accept it and don't expect to interoperate with systems developed by those people.
i would really like to focus on how to agree with people who do care about interoperability and do best with making it possible for them to do what they/we care about and develop interoperable systems 

On 2016-03-14 18:53, elf Pavlik wrote:
> if someone doesn't care about interoperability i think we all need to
> simply accept it and don't expect to interoperate with systems developed
> by those people.

it's not that they didn't care. it's just that the rules were bad and 
made it easy do not do the right thing. non-unique identifiers are a bad 
idea. that this idea breaks things has been proven to happen. seeing if 
it happens again may not be the best way forward.

> i would really like to focus on how to agree with people who do care
> about interoperability and do best with making it possible for them to
> do what they/we care about and develop interoperable systems

sure, i think we all agree on the end goal. but you can design 
interoperability in many ways, some of them good, others maybe not so 
much. if we have real-world experience with one of these ways, we 
probably should not ignore it.


https://github.com/mnot/I-D/blob/gh-pages/rfc5988bis/draft.md#extension-relation-types
> Note that while extension relation types are required to be URIs, a serialisation of links can specify that they are expressed in another form, as long as they can be converted to URIs.

Maybe in a similar way serialisation of links can specify weather to use URIs for registered relations or not? Conversion to official register identifiers in that case happens by simply removing the prefix we discuss here.

@elf-pavlik I don't think you'd be able to convince folks that HTML, HTTP headers or Atom should effectively change their API to do this. However, another serialisation (such as RDF) certainly could.

Another option would be for an _application_ of linking to specify how this should be done for it, independent of the serialisation. See #142.

On 2016-03-14 21:29, elf Pavlik wrote:
> https://github.com/mnot/I-D/blob/gh-pages/rfc5988bis/draft.md#extension-relation-types
>     Note that while extension relation types are required to be URIs, a
>     serialisation of links can specify that they are expressed in
>     another form, as long as they can be converted to URIs.
>
> Maybe in a similar way serialisation of links can specify weather to use
> URIs for registered relations or not? Conversion to official register
> identifiers in that case happens by simply removing the prefix we
> discuss here.

if a serialization defines a mapping from a value adhering to the value 
space defined by the spec to some serialization-specific representation 
of that value, then that's something that cannot even be controlled by 
the spec defining the value space.

i'd still think that there's a risk for the serialization-specific 
representations to leak out into the world, but that's a risk that the 
designers of such a mapping scheme would have to consider.


just throwing it into the mix, because it exists: https://tools.ietf.org/html/rfc3553 defines URIs for any "Registered Protocol Parameters". it could be used as a foundation to turn non-URI parameters into URIs, by simply using the URNs themselves as values. using RFC 3553, link relation values would then look something like `urn:ietf:params:link-relations:alternate`. of course, adopting this scheme would not also be a breaking change to RFC 5988 values, but it would avoid the problem of creating URIs that could suffer from excessive load.

@dret thanks for point out that urn: spec.  That hierarchical URN does make sense, and would be an improvement on what we have today, for many systems.  It's the logical URN to use, I think.

Couple of observations, one that is it quite long, and shorter URIs tend to correlate well with adoption.  Ive personally always wondered why the URI spec does not allow simple variable definitions such as `urn:foo`

The advantage of an HTTP URIs, at least in principle, is that it is easily dereferencable.  I suppose it would be possible to make a one to one link between a URN and an http URI, but that might extra complexity in the software.  

I feel that choosing URNs instead of (dereferencable) HTTP URIs to avoid load on the URIs is premature optimisation.

>  I suppose it would be possible to make a one to one link between a URN and an http URI, but that might extra complexity in the software.

I don't really see the value of this when we can just use an HTTP URI in the first place. It is worth mentioning that the load on W3C's HTML DTD is, as far as I know, not longer a problem. And the infrastructure (CDN's, etc.) to handle this in a scalable way is better today than it was [8 years ago when W3C had this problem](https://www.w3.org/blog/systeam/2008/02/08/w3c_s_excessive_dtd_traffic/).

On 2016-03-22 10:56, Melvin Carvalho wrote:
> Couple of observations, one that is it quite long, and shorter URIs tend
> to correlate well with adoption. Ive personally always wondered why the
> URI spec does not allow simple variable definitions such as |urn:foo|

that's actually a problem of the spec for the URN URI scheme (not of the 
URI spec itself). since a URN is just one kind of URI, they kind of had 
to start their syntax with an "authority" component, hence that second 
step: http://tools.ietf.org/html/rfc2141

i don't think the resulting URIs are overly long. all steps kind of make 
sense, and the URIs are pretty succinct and readable.

> The advantage of an HTTP URIs, at least in principle, is that it is
> easily dereferencable. I suppose it would be possible to make a one to
> one link between a URN and an http URI, but that might extra complexity
> in the software.

the IETF URNs explicitly have no defined resolution mechanism. that's 
partly because it's not even clear what they should resolve to. if you 
have a protocol parameter, what matters is the identity of that 
parameter, and that's uniquely identified by the URN. there's simply 
nothing left to say. URNs usually are identifiers that are meant to be 
used as values, not as references.

if for an application you want those URNs to resolve, then you define a 
resolution process for your context. for example, i am using IETF 
document URNs and want them to resolve to the spec text (that's just my 
choice for my context). i can easily do this by writing simple code, or 
even simpler (in my case), by writing regex-based mappings:

https://github.com/dret/sedola/blob/master/XSLT/specs.xml


after digging around a lot more, i have now learned that RFC 3553 also allows namespaces to be defined and registered (http://www.iana.org/assignments/params/params.xhtml#urn-subnamespaces lists the currently registered ones). this has to be done when a registry is created (or possibly updated). this means that following RFC 3553 procedure, it would be possible to use the IETF URN namespace to identify both the link relation registry and registered values via URNs. this would fit into the way how IETF is already doing this (for select registries, i.e. those where registry creators chose to also define and register an IETF URNs namespace).

Great findings @dret 

I see some cases where using HTTP URIs and allowing dereferencing them offers advantages. For example:

* A *describedby* B
* B *describes* A

https://tools.ietf.org/html/rfc6892

If C wants to make such statement, often choice between using 'describedby' or 'describes' becomes arbitrary. Also when someone gets this information from C, will need to always check for both cases.

Both *describesby* and *described* could after dereferencing provide information that one can treat the other as the same but in reverse direction e.g. [owl:inverseOf](https://www.w3.org/TR/owl2-primer/#Property_Characteristics)

Going down the URN path seems like not taking advantage from potential of making identifiers self describing. When things evolve, one could use HTTP redirects to mark that one identifier got superseded by another one, or provide it in the body of the response using assertions like https://schema.org/supersededBy

OK, re-reading this thread. We originally re-opened it to talk about putting stronger constraints around the use of the Atom base URL, so I've done that; see above.

Does anyone want to argue that there needs to be a base URL (whether it's HTTP, URN, or whatever) that is constant across applications that opt into it -- i.e., that this specification should define a default that applications can opt into?

If not, will close.

isn't that making things even less predictable, because now applications have the green light to add any prefix, and there's no clear definition when that would be ok and when not? i think the reason why this was creating interop problems was that it was weakly worded. however, it is introducing alias values for identifiers, so in order to me robust it must be strongly worded (in which case implementations may still ignore it, which happened and which imho would continue to be the case), or disallowed. if the latter, then no explicit wording is necessary: if you want to refer to a registered value, you have to use the defined value. that's the reality we have now and that seems to work.

I don't think that's a green light, it's a warning that if you create your own name space for registered relation types, other applications won't necessarily understand them, so you do it at your own risk.

Happy to make changes to clarify that.

On 2016-04-26 18:00, Mark Nottingham wrote:
> I don't think that's a green light, it's a warning that if you create
> your own name space for registered relation types, other applications
> won't necessarily understand them, so you do it at your own risk.

but why put that in there at all? if there's exactly one correct way to 
refer to a registered value (which i would strongly suggest there should 
be), then that's all that needs to be said. i think there's no need to 
point out that if you're using an incorrect value by using some 
proprietary mapping such as using a prefix, that you shouldn't expect it 
to be interoperable.


How about something like:

> Historically, applications have sometimes referred to registered relation types with a URI {{RFC3986}} (e.g., {{atom}}) by prefixing their names with an application-defined base URI. This practice is NOT RECOMMENDED, because the resulting strings will not be considered equivalent to the registered relation types by other processors. Applications that do use such URIs internally MUST NOT use them in serialisations that do not explicitly accommodate them.

> How about something like:
>     Historically, applications have sometimes referred to registered
>     relation types with a URI {{RFC3986}} (e.g., {{atom}}) by prefixing
>     their names with an application-defined base URI. This practice is
>     NOT RECOMMENDED, because the resulting strings will not be
>     considered equivalent to the registered relation types by other
>     processors. Applications that do use such URIs internally MUST NOT
>     use them in serialisations that do not explicitly accommodate them.

what are "serialisations that explicitly accommodate them"? values will 
very easily disseminate through perceived format boundaries. for 
example, if you have JSON-LD, then you would like to see the registered 
values to be used in the actual JSON. but people using RDF tooling may 
end up creating URIs, because from their perspective, they have been 
using RDF so using URIs was kind of ok. and their JSON-LD toolbox may 
not even have support for value mapping when serializing  RDF to JSON-LD.

well, i don't want to hold up things here all by myself. i just think 
we're trading spec clarity and robustness for a rather fuzzy value 
proposition and introducing quite a bit of risk and brittleness. 
allowing value aliases is one of the cardinal sins of managing 
identifier namespaces.


/cc @chaals

I think it should only be NOT RECOMMENDED if you can use the short form - e.g. in the Link header - while we do mandate the base URI where a full IRI is required by the application.

Something like: 

> In applications that require absolute IRIs (e.g. RDF 1.1) for referencing IANA relations, the fixed base IRI http://www.iana.org/assignments/relation/ SHOULD be used, e.g. http://www.iana.org/assignments/relation/describes. It is NOT RECOMMENDED to use such IRIs in applications that support the IANA shortform (e.g. "describes") because the resulting strings will not be considered equivalent to the registered relation types by other processors.



In other words - 2 specified identifier schemes is better than `n` identifier schemes.

@stain With some langauge identifying the `describes` relation as the one defined in RFC 6892, I think your wording provides enough guidance and clarification. :+1: 

> On Apr 27, 2016, at 02:17, Stian Soiland-Reyes <notifications@github.com> wrote:
> In other words - 2 specified identifier schemes is better than n identifier schemes.
> 

+1

but 2 representations of one value is still worse than 1.

>     In applications that require absolute IRIs (e.g. RDF 1.1) for
>     referencing IANA relations, the fixed base IRI
>     http://www.iana.org/assignments/relation/ SHOULD be used, e.g.
>     http://www.iana.org/assignments/relation/describes.

i think my main concern with all of these attempts to (a) make sure 
registered values are used, but (b) also half-heartedly bless the use of 
URIfied aliases is this:

one of the main tenets of web architecture is that i shouldn't have to 
care about how some service is implemented behind the REST surface. 
allowing the implementation to shine through (oh, somebody used RDF for 
implementation, so all my link relations now show up as URIs) undermines 
this. it also shouldn't matter to me as a service user if an 
implementation changes from RDF to non-RDF, or vice versa. if it does, 
something in the service fabric broken.

saying that "it is fine to use the URIfied variants if both sides agree 
that they like it that way" introduces tight coupling based on 
implementation details. this is one of the popular antipatterns of REST, 
which is why i am (as you can probably tell ;-) so worried about 
blessing this kind of rift in the web's service ecosystem, however 
hedged this blessing is by "please try to not let those aliases escape 
into the wild" language.


>> In other words - 2 specified identifier schemes is better than n identifier schemes.

> +1
> but 2 representations of one value is still worse than 1.

from https://tools.ietf.org/html/rfc3987
> This document creates a new sub-delegation below the "ietf" [2]URN namespace [1] called 'params' which acts as a standardized mechanism for naming the items registered for IETF standards.

I think that RFC 3987 and prefix introduced in Atom spec, prove need for identifying registered parameters with URIs. Of course we can argue about advantages of `urn:` scheme vs. advantages of `http:` scheme. Still if something can have one and only one identifier, URI seems like a obvious choice. URIs also have clear rules for compacting them https://www.w3.org/TR/curie/

To my understanding in this issue we don't discuss how perfect world would look like but our best options to improve the current state of things. While URIs in `urn:` scheme already allow to use them as identifiers in RDF. I see some evidences of utility in retrieving structured data by resolving URI.
* https://www.iana.org/assignments/media-types/application/json

> Additional information:  Magic number(s): n/a
   File extension(s): .json
   Macintosh file type code(s): TEXT

* https://www.iana.org/assignments/media-types/application/ld+json

Standardizing `http:` prefix for identifying link relations can serve as field test for usefulness of identifying registered parameters with URIs with well defined resolution mechanism. RFC4287 already opened that door, which makes it a good candidate for giving it a chance.

On 2016-04-27 15:02, elf Pavlik wrote:
> Standardizing |http:| prefix for identifying link relations can serve as
> field test for usefulness of identifying registered parameters with URIs
> with well defined resolution mechanism. RFC4287 already opened that
> door, which makes it a good candidate for giving it a chance.

that's an odd way of looking at where we are. RFC 4287 opened it, maybe, 
but RFC 5988 closed it (being specific about the fact that URIs are 
legacy and maybe are used in atom, but shouldn't). so what we're having 
today is a world with a lot deployed applications that use the 
registered values, and depend on them being used. that's simply the 
reality we have to deal with, regardless of the options we would have if 
we started with a clean slate.


@dret What seems to be missing from your equation is the use-case of distributed creation of link relations, which was the reasoning behind section 4.2.7.2 of RFC 4287, IIRC. I also don't read RFC 5988 the same way as you, which I believe is one of the reasons this issue exists in the first place.

I think the internet community still needs a way to mint proprietary link relations without the overhead of registering them in IANA. I believe that use-case will exist even if the process of registering relations is made a global showcase of bleeding edge user-friendlyness and simplicity.

The solution we came up with in Atom WG to allow for distributed creation of link relations was to use a URI. To make that consistent with the non-URI relations that already existed, we invented a prefix that made `http://www.iana.org/assignments/relation/describes` and `describes` equal. Looking back, I think it might have been wiser to obsolete the non-URI relations and mandate the use of the IANA base URI prefix.

Accidentally, the idea of using URIs have shown to fit with other use-cases as well, such as in RDF. However, I do think those are two different use-cases that shouldn't be conflated.

On 2016-04-28 01:38, Asbjørn Ulsberg wrote:
> @dret <https://github.com/dret> What seems to be missing from your
> equation is the use-case of distributed creation of link relations,
> which was the reasoning behind section 4.2.7.2 of RFC 4287, IIRC. I also
> don't read RFC 5988 the same way as you, which I believe is one of the
> reasons this issue exists in the first place.

for distributed creation, there are extension relation types, which seem 
to work just fine in practice, afaict.

https://tools.ietf.org/html/rfc5988#section-4.2

> I think the internet community still needs a way to mint proprietary
> link relations without the overhead of registering them in IANA.

that's a very different discussion, on whether a registry is the right 
pattern to use for keeping track of link relation identifiers. to me the 
"overhead issue" is a problem of perception, but than nevertheless is a 
problem. but regardless of that, "namespace design" and "namespace 
management" are two different issues.

> I
> believe that use-case will exist even if the process of registering
> relations is made a global showcase of bleeding edge user-friendlyness
> and simplicity.

then let's look at those use cases. so far i see little problems in 
practice. many register their link relations, the registry is growing 
slowly but steadily. and for those that see it as a hurdle as you do, i 
have helped with the registration process a number of times for 
currently evolving w3c specs. i did not do that much, and it did not 
take a lot of time or effort, just the willingness to make those values 
well-known.

> The solution we came up with in Atom WG to allow for distributed
> creation of link relations was to use a URI. To make that consistent
> with the non-URI relations that already existed, we invented a prefix
> that made |http://www.iana.org/assignments/relation/describes| and
> |describes| equal. Looking back, I think it might have been wiser to
> obsolete the non-URI relations and mandate the use of the IANA base URI
> prefix.

maybe. but that train has left the station a long time ago. there really 
is no point to discuss that any more, we cannot change the past.

> Accidentally, the idea of using URIs have shown to fit with other
> use-cases as well, such as in RDF. However, I do think those are two
> different use-cases that shouldn't be conflated.

afaict, RDF seems to be the only model that has trouble using non-URI 
identifiers. everybody else seems to be happy either way, happily living 
in RFC 5988 land using link relation types that are either short names 
or strings.

also, please keep in mind that originally, this issue *was not* about 
changing the registered values from strings to URIs. that notion just 
crept in and maybe should be factored out anyway. originally, this issue 
is *only* about having dereferencable URIs for link relation types, but 
the identifiers that must be used would still be the short names and not 
the URI.


> also, please keep in mind that originally, this issue *was not* about changing the registered values from strings to URIs. that notion just crept in and maybe should be factored out anyway. originally, this issue is *only* about having dereferencable URIs for link relation types, but the identifiers that must be used would still be the short names and not the URI.

I understood that as of last iteration, depending on *application* spec marks identifying link relations with URIs as **NOT RECOMMENDED** but allowed. Which I see enough so that people who have reason to use NOT RECOMMENDED option can still do so.

Now for example, after parsing HTTP Link header, RDF applications can simply store all the links as triples, of course during serializing triples for use in HTTP Link header, application must always remove the *http://www.iana.org/assignments/relation/* prefix. While one can argue that each application can choose one's own prefix for that purpose, having a standard prefix to only use it in very specific cases makes thing interoperate better in many cases. For example if `application/trig` response wants to make information from HTTP Link header also available in the payload as separate named graph.

:+1: from me for providing standard prefix, marking it as **NOT RECOMMENDED** and shortly explaining possible interoperability issue when using it in not appropriate application.

> what are "serialisations that explicitly accommodate them"? 

E.g., as Atom does, or as RDF probably would. 

> values will very easily disseminate through perceived format boundaries. for
example, if you have JSON-LD, then you would like to see the registered
values to be used in the actual JSON. but people using RDF tooling may
end up creating URIs, because from their perspective, they have been
using RDF so using URIs was kind of ok. and their JSON-LD toolbox may
not even have support for value mapping when serialising  RDF to JSON-LD.

If you implement a parser that ingests links from a serialisation that has such a mapping, it's your responsibility to convert them to registered link relations before serialising them into another format. It *needs* to be a requirement of the serialisation.

WRT 2 specified vs n -- The problem is that Atom already specifies one extra way to serialise registered relation types, and many have expressed dissatisfaction with that base URI (because it's controlled by IANA, because what's at the URL isn't what is desired, because it isn't a # URI, etc.). 

Therefore, I highly suspect we're going to have at least three. Baking the third into this spec raises the chances that we'll get it wrong, for some community (the Semantic Web isn't the only game in town).

As with many things, the right number is likely to be zero, one, or many.

On 2016-04-28 18:13, Mark Nottingham wrote:
> If you implement a parser that ingests links from a serialisation that
> has such a mapping, it's your responsibility to convert them to
> registered link relations before serialising them into another format.
> It /needs/ to be a requirement of the serialisation.

i agree. but isn't that saying that if you claim to use/expose link 
relation types as spec'ed and registered, you MUST use the identifiers 
in their single correct representation? and if so, then why even say 
that in some contexts, people may do things differently?

i understand the RFC 5988 language to acknowledge the RFC 4287 legacy, 
but by now we might be over that hump of introducing and then having to 
deal with aliases. i haven't seen any of these in the wild for quite a 
while. people haven't used them, afaict, because they weren't interoperable.

to me, this is like knowing that in some implementations/contexts, 
people decide to use numbers instead of media type identifiers. there's 
nothing we can do to stop them from doing it, but there's no need to 
even acknowledge that it's happening. if you want to represent a media 
type, it must be in the x/y form; anything else is not a media type 
identifier.

[[ btw, anybody know of an dataset of HTTP headers harvested in the wild 
(preferably even over time) that we could analyze and see which link 
relations show up in link headers? not necessarily a representative way 
of measuring link relation type usage in general, but maybe interesting 
nevertheless. ]]



> WRT 2 specified vs n -- The problem is that Atom already specifies one extra way to serialise registered relation types, and many have expressed dissatisfaction with that base URI (because it's controlled by IANA, because what's at the URL isn't what is desired, because it isn't a # URI, etc.). 

I would see comments on current `http:` prefix more as proposals for various possible improvements than dissatisfaction that one standard prefix exists. As of today, registered link relations act just as unique identifiers and to my knowledge no one expects to discover additional information by dereferencing them. Possibly at some point in the future IETF will find interest to leverage this currently dormant potential, but as of today I believe everyone, who shared mentioned feedback, can live with agreeing just on the standard `http` prefix. I think that keeping question, what response one can expect when dereferencing link relation URIs, as separate issue makes a lot of sense here. Once we agree on the prefix it can take as much time as needed and available to work on answering that question.

Not sure if we still should take just a quick look at HTTP vs HTTPS ? AFAIK schema.org started moving their prefix to HTTPS http://schema.org/docs/faq.html#19

@dret it's pretty clear that there are some communities that want to use them, so some guidance would help avoid common pitfalls.

I don't think that having One True Prefix in the spec is going to be helpful, because AIUI there are some fairly exacting requirements on how that namespace is run, both in terms of the URIs and potentially what happens when you dereference them (based on discussion with @timbl). 

In this approach, a serialisation of links like JSON-LD can use URIs for registered relation types as it wishes, and have appropriate assurances that it controls that name space; much easier than offloading that task to IANA. 

Furthermore, as long as it assures that they're converted back to "native" registered link relations at the appropriate time, it can interoperate well with other applications / serialisations, whether they recognise the prefix or don't.

On 2016-05-02 18:05, Mark Nottingham wrote:
> @dret <https://github.com/dret> it's pretty clear that there are some
> communities that want to use them, so some guidance would help avoid
> common pitfalls.

i am sorry to be pedantic, but what is "them"? i think we have to be 
really clear about what we are talking about, and in the discussions so 
far, i think to things get mixed up:

- the normative lexical value of registered relation types.

- stable URIs that can be used to refer to the types, but are not the 
lexical value of the type.

sorry if this is a dumb example, but just to make it clear, it is like 
this when talking about language tags (a la RFC 5646)

- the normative lexical value for english is "en"

- http://www-01.sil.org/iso639-3/documentation.asp?id=eng is the URI 
that is closest to a being a URI for the "en" language tag.

i have to admit that i have a hard time distinguishing the cases when 
the discussion is about changing the lexical value (or adding a second 
allowed lexical value, which is a URI), and when it is about being more 
disciplined in having stable and well-defined URIs.

> I don't think that having One True Prefix in the spec is going to be
> helpful, because AIUI there are some fairly exacting requirements on how
> that namespace is run, both in terms of the URIs and potentially what
> happens when you dereference them (based on discussion with @timbl
> <https://github.com/timbl>).

+1, i think it is unlikely that IANA's substantial registry 
infrastructure can be changed easily. and so far i have not heard any 
argument on why you would need the URIs to be dereferencable: they are 
identifiers, and their semantics are defined by the specs that register 
them. the registry is there to make those specs discoverable. even if it 
were possible to dereference the URIs and you would get some RDF as a 
result, it would do little more than containing a link to spec that 
registered the value, and effectively say "go and read this spec".

> In this approach, a serialisation of links like JSON-LD can use URIs for
> registered relation types as it wishes, and have appropriate assurances
> that it controls that name space; much easier than offloading that task
> to IANA.

just to make sure: the URIs would not actually show up in JSON values, 
right? i assume they would only show up if somebody put on their RDF 
goggles and processed the JSON as JSON-LD and then looked at the 
resulting RDF? and when serializing RDF as JSON via JSON-LD the opposite 
thing would happen and the URIs would get serialized as the registered 
strings?


The lexical value of the type as defined in the standard is not what may appear on the wire, depending upon the transformations that a serialisation applies to it.

Trivial (and common) examples of such a transformation are character encoding, compression and encryption.

The draft is saying that other transformations are possible, including mapping registered relation types into a separate space, for the convenience of the users of that serialisation. 

How JSON-LD and friends decide to handle this is up to them.

If you can suggest ways to clarify this in the spec, it'd be much appreciated.

On 2016-05-02 20:09, Mark Nottingham wrote:
> The lexical value of the type as defined in the standard is not what may
> appear on the wire, depending upon the transformations that a
> serialisation applies to it.

agreed, but that is entirely out of scope of the spec, is it not? the 
spec says which lexical value represents a registry entry.

> Trivial (and common) examples of such a transformation are character
> encoding, compression and encryption.

sure, but these are layered concerns and do not affect the spec.

> The draft is saying that other transformations are possible, including
> mapping registered relation types into a separate space, for the
> convenience of the users of that serialisation.

i am still not clear about why that needs to be said. of course if 
there's agreement on two sides, they can apply whichever transformation 
makes them happy and as long as the mapping works robust in both ways, 
things will work out.

we do not say that a value can be compressed or encrypted or unicode 
encoded, because we don't have to. what's different here?

> If you can suggest ways to clarify this in the spec, it'd be much
> appreciated.

if we keep the model that registered values have one lexical value which 
is the simple string we have today, then i think there is no need to 
talk about possible ways to map this string to URIs. it could be mapped 
to many other things as well, as you point out.

my concern is that this language is confusing readers and developers to 
assume that the URIs *are* legitimate lexical representations, which 
they are not. i don't see which value this adds, and i see a risk of 
inviting misunderstandings.


#142 has a TODO to add a section about creating new serialisations. I think moving this text into that might help.

@mnot Thanks for finally providing a conclusion on this issue. The more I think about it, the more I agree with you in that it's not up to rfc5988bis to provide mapping to other serialisations of link relations. That can and probably should be solved externally in another RFC or W3C REC.

> just to make sure: the URIs would not actually show up in JSON values, right? i assume they would only show up if somebody put on their RDF goggles and processed the JSON as JSON-LD and then looked at the resulting RDF? and when serializing RDF as JSON via JSON-LD the opposite thing would happen and the URIs would get serialized as the registered strings?

JSON - 'application/json'
doesn't specify how to use link relations, `"rel": "next"` can as well mean the name of a cat 

JSON-LD - 'application/ld+json' ([plus 3 profiles](https://www.w3.org/TR/json-ld/#iana-considerations))
HAL - 'application/hal+json'
JSON API - 'application/vnd.api+json'
UBER - 'application/vnd.amundsen-uber+json'
Mason - 'application/vnd.mason+json'
Siren - 'application/vnd.siren+json'
All above have some differences in how to serialize link relations, some use relation lexical form in name/key in objects, some as value of `"rel":`. In JSON-LD expanded profile they would appear as URIs used as name/key in objects, also sometimes as value in case of reification or n-ary relations. In JSON-LD compacted profile, one could provide `@context` which would alias all relation URIs to short strings matching lexical form in IANA registry.

@dret If you would like to continue discussing use of link relations in JSON and JSON-based media types, maybe we could move it to comments of this article: https://dracoblue.net/dev/overview-of-json-hypermedia-link-formats/ ?

> The more I think about it, the more I agree with you in that it's not up to rfc5988bis to provide mapping to other serialisations of link relations. That can and probably should be solved externally in another RFC or W3C REC.

@asbjornu Did this ever actually happen?


@sbp not to my knowledge, no.

I know of https://www.w3.org/ns/iana/link-relations/relation but to my knowledge it doesn't have any official status. Maybe @csarven has some more information about it.

Personally I think that if someone defining new relation wants it to be available as full IRI, they should just use full IRI and don't register short string. With this in mind some kind of directory with common full IRI link relation could be useful complementary reference to make it easier for community to discover existing relation. Some arguments for registering short string are purely for making them known to others. It would be great to have similar option for full IRI relations.

@elf-pavlik Thanks. The W3C have a persistence policy at https://www.w3.org/Consortium/Persistence which mentions that everything starting "`https://www.w3.org/ns/`" will be carefully maintained. Of course anyone can make and maintain URI aliases for the IANA link relation registry entries. I was just surprised that the IANA would consider it out of scope to do this themselves and create an obviously canonical source, especially since they're already maintaining a CSV version of the registry. Maintaining JSON-LD or N-Triples or something would not be much more work. Certainly not as onerous a task as @mnot seemed to fear it would be!


There's also:

https://w3id.org/

So, after all this time, I'm guessing that IANA doesnt really want to prioritize throwing cycles at this

I did push for quite a few years for keys to be used as nicely self-describing http URIs, conforming to link data standards

From my experience, I've found that a large chunk (perhaps majority) of developers are content with strings and short names.  My conclusion is that rather than trying to get people to conform to Linked Data, perhaps we should try and make Linked Data conform to real world usage, and allow normal strings as keys, rather than only (http) URIs

So, I'll withdraw my previous requests, and if IANA has cycles to address this so much the better