Splitting on ','

2.2. Calculating a Secondary Cache Key
https://tools.ietf.org/html/draft-fielding-http-key-03#section-2.2


You need here more quoted string exceptions.

|   4.  Create "key_list" by splitting "key_value" on "," characters.

You need here:    excepting "," characters within quoted strings

as you have in

|       6.  Create "param_list" by splitting "parameters" on ";"
|           characters, excepting ";" characters within quoted strings,
|           as per [RFC7230] Section 3.2.6.

Moving to http-extensions repo