"profile" link hint

I would like to propose adding a Link Hint to express the profile of the linked resource, that is, to express the same info on a link to a resource that would be expressed at that resource itself by means of a "profile" link. I assume that would mean adding a "profile" attribute for Link Hints. 


In addition, I would like to propose adding a Link Hint to express the semantic type of the linked resource, that is, to express the same info on a link to a resource that would be expressed at that resource itself by means of a "type" link. I understand that this can not be achieved by means of the existing and widely used "type" attribute (reserved for mime types). So, maybe a "sem-type" attribute could be used?

Thanks @handrews for feedback. A few things come to mind:
* I have seen the "profile" attribute being used as a media type parameter, indeed. For example in the W3C's Linked Data Notifications spec, see https://www.w3.org/TR/ldn/ . But I do not where this use was officially specified. I am only aware as "profile" as a link relation type, defined in http://www.faqs.org/rfcs/rfc6906.html
* Assuming using "profile" as a media type parameter is acceptable, indeed, I think using it to convey profile information about a linked resource (along with its media type) would indeed be OK. It would solve my first issue above. Not sure that also using it for the second issue would be appropriate though. The info intended by a link with the "type" relation type is really an indication (by means of a URI) of a class a resource is an instance of. Very much like rdf:type. I don't think "profile" is appropriate in this case as the info is definitely not related to media type.

@hvdsomp the use of profile as a media type parameter is covered in [section 3.1 of RFC 6906](https://tools.ietf.org/html/rfc6906#section-3.1).

@dret is the author of the profile RFC so perhaps he can speak to its usage here.  I feel like "profile", "type", and "describedBy" all overlap somewhat and it's not clear to me exactly which should be used when.  Except that "profile" is an identifier and not necessarily a locator, while "describedBy" seems to be acceptable for use as a locator.

On 2017-01-03 12:04, Henry Andrews wrote:
> @dret <https://github.com/dret> is the author of the profile RFC so
> perhaps he can speak to its usage here. I feel like "profile", "type",
> and "describedBy" all overlap somewhat and it's not clear to me exactly
> which should be used when. Except that "profile" is an identifier and
> not necessarily a locator, while "describedBy" seems to be acceptable
> for use as a locator.

1. a profile media type parameter has to be allowed by the media type. 
very few media types do this. so while i think that it's possible (and 
maybe even better) to use a media type profile parameter, if that 
mechanism is required, in many cases the media type simply will not 
allow such a parameter to be used.

2. in my mind, "profile", "type", and "describedBy" are distinct, but i 
have heard world views where they are more similar and do have quite 
some overlap. for this issue, however, i think it only matters what to 
do if there is a profile in use and how to signal it. since there are 
many cases where a profile media type parameter is not allowed (see 1), 
i think that supporting a profile hint might be a good idea.


> a profile media type parameter has to be allowed by the media type.

As this restriction is pretty much impossible to enforce in practice, what value does it have? I see great value in tagging on `profile` as authors see fit for their application, especially for loose media types such as `application/json` and `application/ld+json`.

> since there are many cases where a profile media type parameter is not allowed (see 1), i think that supporting a profile hint might be a good idea.

I agree.

> As this restriction is pretty much impossible to enforce in practice

I have to admit my first reaction to that part was "what, are the JSON Police (`application/police+json`) going to arrest me?"

Although if it really is not valid to use with `application/json` then JSON Schema will need to define an `application/instance+json` or something so that the profile parameter can be used to connect the schema.  Blerg.

this is off-topic:

On 2017-01-04 01:20, Henry Andrews wrote:
> Although if it really is not valid to use with |application/json| then
> JSON Schema will need to define an |application/instance+json| or
> something so that the profile parameter can be used to connect the
> schema. Blerg.

profile was not intended to refer to a schema. it is intended to refer 
to a profile, which is defined as extending and/or constraining the 
original media type. the spec gives examples.


@dret I wasn't expecting a response on the JSON Schema aside, my point was about the usage of profiles with `application/json` (although admittedly poorly expressed- I shouldn't comment on issues after midnight :-)

JSON Schema part moved to json-schema-org/json-schema-spec#222

I think this is good discussion, but I don't think there's enough agreement (or adoption) to justify putting profile in the initial link-hints document. No argument against registering it separately though.