Questions regarding h2_cache_digests

Hi to all that are following this spec.

I would need some clarification on the hashing process:

Key should be a SHA256 message digest expressed as integer...??? If I use the parseInt() - I'm dabling with a JavaScript Implementation - function to express the key in integer I get a biiiiIg exponential number. Am I thinking correctly?

And then the second step with truncating the integer of SHA256 to calculated bits? Do I have to convert the SHA256 to bits?

I'm a bit lost and need someone to shine some light for me.

Thanks to all!

Regards,

nVVEBd


It seems a bit hard to implement the hash-value 1/1 in JavaScript.

SHA256 is represented with 256bits -> JavaScript can't handle more than 64bit floating point with 2^56 - 1 precision.

I would like to know what do you think about this solution:

- Representing the SHA as an ArrayBuffer and then add the buffer values to a variable to be represented as a Number -> converting the Number to binary and then doing the truncate.

I don't see any other solutions to this. 

Any info would help me a lot...

What you should do is take the first `N + P` bits of the SHA output (i.e. the same way as is done in [RFC 2104 section 5](https://tools.ietf.org/html/rfc2104#section-5) or in [RFC 3874 section 2](https://tools.ietf.org/html/rfc3874#section-2).

How you would implement it depends on the output form of the SHA256 function you are using, and the maximum value of `N+P` that is going to be emitted by your implementation (the spec. allows the value to go up to 62, but an encoder can have its own restriction).

That said, assuming that your SHA function returns an ArrayBuffer of 32 octets, and your upper bound of `N+P` is less than 32, I believe the truncation code be written as simple as:
```
var first32Bits = (new DataView(digest)).getUInt32(0);
(first32Bits >> (32 - (N + P)) & ((1 << (N + P)) - 1)
```

Note that since `>>` operator of JavaScript converts the left-hand-side value to _signed_ int, you would need to mask the value as is done in the example.

I worked it out. 

@kazuho your solution was wrong I used : `let trunc = (f32bits & (Math.pow(2, thisBits)-1));`. But thanks for showing me the direction to go into.

@nVVEBd Glad to hear.
> @kazuho your solution was wrong I used : `let trunc = (f32bits & (Math.pow(2, thisBits)-1));`. But thanks for showing me the direction to go into.

I am not sure how your implementation as a whole works, but if the URL is `https://example.com/style.css` and N+P is 12, then the expected hash value of the URL is 0xbaf (leftmost 12 bits of sha256(`https://example.com/style.css`).

Next questions: 
  1. Let N be the count of URLs' members, rounded to the nearest power of 2 smaller than 2**32:
    -> I have 4 members and the nearest is 2 - or should the rounding go up to 8? 
  6. Let digest-value be an empty array of bits -> UInt32 ?
  7. Write log base2 of N to digest-value using 5bits -> I push this into the array as a byte with 5bits?

I figured out the way to implement the above questions but the last one remains:

- Write R to digest-value as binary, using log2(P5) bits -> I get a float number 7.124124 -> do I round this number and then use the rounded value as bits?

Closing, as this is now in the httpwg repo.