Editorial from RLB

https://mailarchive.ietf.org/arch/msg/dnsop/uUv66smASM1u2KWH3BQEKPb0x4Y

"""
   This information is not meaningful to the Tor
   protocol, but can be used in application protocols like HTTP
   [RFC7230].
"""

It took me a second to process what this meant.  Would the following
phrasing be correct?

"""
   Labels beyond the first label under ".onion" are not used by
   the Tor routing, so for example, "foo.example.onion" will route
   to (and authenticate) the same Tor service as "example.onion".
   However, additional labels might be used by application services
   to distinguish different sub-services accessible via the same Tor
   service.  In the case of HTTP, for example, the full name, with
   all labels, will be included in the Host header, and can be used
   to identify HTTP virual hosts on a common server.
"""

Might not be necessary to clarify this much, but like I said, it wasn't
obvious to me what the sub-label handling would be.


----------


"Note that this draft was preceded by
[I-D.grothoff-iesg-special-use-p2p-names] ..."

This paragraph can probably be deleted in the final version.


----------


"The ".onion" Special-Use TLD" -> "The ".onion" Special-Use Domain Name"

(For consistency with RFC 6761)


----------


"""
       ... or using a proxy (e.g., SOCKS [RFC1928])
       to do so.  Applications that do not implement the Tor protocol
       SHOULD generate an error upon the use of .onion, and SHOULD NOT
       perform a DNS lookup.
"""

It might be worth noting that in the scope of the last sentence,
"Applications" includes proxies.  That is, your proxy should n't generate a
DNS request if it gets a .onion request either.  I would just add
"(including proxies)" between "protocol" and "SHOULD".


----------


"""
   3.  Name Resolution APIs and Libraries: Resolvers that implement the
       Tor protocol MUST either respond to requests for .onion names by
       resolving them (see [tor-rendezvous]) or by responding with
       NXDOMAIN.  Other resolvers SHOULD respond with NXDOMAIN.
"""

This seems a little backward.  It seems like the general requirement is
that resolvers MUST either resolve over Tor or return NXDOMAIN.  If you
don't support Tor, you just fall in the latter bucket.  Don't be afraid to
MUST DNS servers, here or in the subsequent points.


WRT the first point - I think this goes too far in specifying the HTTP behaviour, and I don't think that's the intent here.

@bifurcation - please review 779e194 and previous comment.

Not hearing anything, so closing.